.input, .select select, .textarea {
    background-color: #25252a;
    border-color: #25252a;
    color: #fffdfd;
}

.input::placeholder {
  color: #5f5f5f;
  opacity: 1;
}

.label {
  color: #fff;
}

.the-datepicker__container {
}

a.the-datepicker__button:hover .the-datepicker__day-content {
  background-color: #5f5f5f !important;
}

.the-datepicker__container .the-datepicker__main {
  border-radius: 0 1rem 1rem;
  background-color: #25252a;
  border-color: #25252a;
}

div.the-datepicker__body > table > tbody > tr td a {
  color: white !important;
}
